@charset "UTF-8";
/* CSS Document */
section.newnew {
	
	
}
h1,footer {

	background-repeat: repeat-1;
	background-blend-mode: darken;
	color: goldenrod;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
body {
	font-family: Arial Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"sans-serif;
	font-size: 16px; 
	text-align: justify; 
	vertical-align: 100px;  
	line-height: 1.8em;
	background-color: palegreen;
	
}
h2 { 
	color: tomato;
	text-align: center;}
p{ 
	color: slategray;
	}
p.new{ 
	color: slategray;
	text-align: center;
	}
section{ 
	color: slategray;
	}
q{ 
	color: darkgoldenrod;}

li{
	list-style-type: circle;
}

img.align-left { 
	float: left; 
	margin-right: 10px;
}
img.large {
	width:500px;
	height: 500px; 
}
